<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>employee1</display-name>
  <welcome-file-list>
    <welcome-file>employee1.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>employee</servlet-name>
    <servlet-class>com.employee.InsertServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>employee</servlet-name>
    <url-pattern>/insert</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>com.employee.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>update1</servlet-name>
    <servlet-class>com.employee.UpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update1</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete1</servlet-name>
    <servlet-class>com.employee.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete1</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loan1</servlet-name>
    <servlet-class>com.employee.LoanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loan1</servlet-name>
    <url-pattern>/loan</url-pattern>
  </servlet-mapping>
</web-app>